In [ ]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
df=pd.read_csv('/content/car.csv.csv')

In [ ]:
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [ ]:
df.columns

Index(['HP', 'MPG', 'VOL', 'SP', 'WT'], dtype='object')

In [ ]:
x=df['MPG'].mean().round(4)
x

34.4221

In [ ]:
y=df['MPG'].std().round(4)
y

9.1314

In [ ]:
#p(MPG>38)
1-stats.norm.cdf(38,x,y)

0.34759419806499703

In [ ]:
#p(MPG<40)
stats.norm.cdf(40,x,y)

0.7293499868728933

In [ ]:
#p(MPG<50)-p20<MPG
stats.norm.cdf(50,x,y)-stats.norm.cdf(20,x,y)

0.8988706389453319

In [ ]:
b=stats.norm.cdf(20,x,y)
b

0.05712258490040815

In [ ]:
a=stats.norm.cdf(50,x,y)
a

0.95599322384574

In [ ]:
c=a-b
c

0.8988706389453319